<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      function upd() {
        console.log(token);
        if (token == undefined) {
          console.log("redirecting to login page");
          window.location.href = "http://localhost:5000/";
        } else {
          console.log("token exists");
        }
        axios
          .get("/trader", {
            headers: { token: token },
          })
          .then(function (response) {
            console.log(response);
            document.getElementById("eq").innerHTML =
              "Equity:  " + response.data.equity;
            document.getElementById("cash").innerHTML =
              "Cash:  " + response.data.cash;
          });
      }
      const token = getCookie("token");
      function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(";").shift();
      }

      function buy() {
        var ticker = document.getElementById("crypto").value;
        var quantity = document.getElementById("quantity").value;
        axios
          .post(
            "/trader/buy?coin=" + ticker + "&amount=" + quantity,
            {},
            {
              headers: { token: token },
            }
          )
          .then(function (response) {
            console.log(response);
            document.getElementById("eq").innerHTML =
              "Equity:  " + response.data.equity;
            document.getElementById("cash").innerHTML =
              "Cash:  " + response.data.cash;
            upd();
          });
      }
      function sell() {
        var ticker = document.getElementById("scrypto").value;
        var quantity = document.getElementById("squantity").value;
        axios
          .post(
            "/trader/sell?coin=" + ticker + "&amount=" + quantity,
            {},
            {
              headers: { token: token },
            }
          )
          .then(function (response) {
            console.log(response);
            document.getElementById("eq").innerHTML =
              "Equity:  " + response.data.equity;
            document.getElementById("cash").innerHTML =
              "Cash:  " + response.data.cash;
            upd();
          });
      }
      function setPort(){
        // get the trader profile and create a table in the element ides with all the coins and their quantities
        axios
          .get("/trader", {
            headers: { token: token },
          })
          .then(function (response) {
            console.log(response);
            var table = document.getElementById("ides");
            var row = table.insertRow(0);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = "Coin";
            cell2.innerHTML = "Quantity";
            for (var i = 0; i < response.data.portfolio.length; i++) {
              var row = table.insertRow(i+1);
              var cell1 = row.insertCell(0);
              var cell2 = row.insertCell(1);
              cell1.innerHTML = response.data.portfolio[i].coin;
              cell2.innerHTML = response.data.portfolio[i].quantity;
            }
          });
      }
    </script>
    <script>
      upd();
    </script>
    <meta charset="UTF-8" />
    <style>
      body {
        background-color: #465c69;
        font-family: "Courier New", Courier, monospace;
        color: white;
      }
      .title {
        color: #fff;
        font-size: 50px;
        text-align: center;
        margin-top: 10px;
        font-family: "Courier New", Courier, monospace;
      }
      .tagline {
        text-align: center;
        color: white;
      }
    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1 class="title">Welcome to the {{title}}</h1>
    <p id="eq">Equity:</p>
    <p id="cash">Cash:</p>
    <!-- form to buy a crypto -->
    <label for="crypto">Crypto:</label>
    <input type="text" id="crypto" name="crypto" />
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" name="quantity" />
    <input type="submit" value="Buy" onclick="buy()" />
<br><br>
    <label for="crypto">Crypto:</label>
    <input type="text" id="scrypto" name="crypto" />
    <label for="quantity">Quantity:</label>
    <input type="text" id="squantity" name="quantity" />
    <input type="submit" value="Sell" onclick="sell()" />

    <div >
      <!-- code for showing assets in portafolio -->
        <table id="ides">
          <tr>
           
          </tr> 
        </table>
    </div>
  </body>
</html>
