<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        window.addEventListener("load", function(){
          get()
        })
    </script>
    <script>
        const token = getCookie("token");
        function getCookie(name) {
          const value = `; ${document.cookie}`;
          const parts = value.split(`; ${name}=`);
          if (parts.length === 2) return parts.pop().split(';').shift();
        }
        console.log(token)
        if (token == undefined) {
          console.log("redirecting to login page")
          window.location.href = "http://localhost:5000/";
        }else{
          console.log("token exists")
        }
        function get(){
          axios
          .get("/trader",{
            headers: {
              token: token,
            },
          })
          .then(function (response) {
            console.log(response);
            document.getElementById("cash").innerHTML ="Your Cash: "+ response. data.cash;   ;
          });
        }
        function buy(stock){
          axios
          .post("/trader/buy",{
            coin: stock,
            amount: 1,
          },{
            headers: {
              token: token,
            }
          } )
          .then(function (response) {
            console.log(response);

          });
        }
        
    </script>
    <script>
      
    </script>
    <meta charset="UTF-8" />
    <style>
      body {
        background-color: #465c69;
        font-family: "Courier New", Courier, monospace;
        color: white;
      }
      .title {
        color: #fff;
        font-size: 50px;
        text-align: center;
        margin-top: 10px;
        font-family: "Courier New", Courier, monospace;
      }
      .tagline {
        text-align: center;
        color: white;
      }


    </style>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1 class="title">Welcome to the {{title}}</h1>
    <h3 id="cash">Your Cash: </h3>
    <!-- <button  onclick=" get">get data print</button> -->
  </body>
</html>
